workflows/03-get-insights.json
{
  "name": "Trading Wizard - Get Insights",
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "c1b2c3d4-0003-0001-0001-000000000001",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  i.insights,\n  i.adjustments,\n  i.summary,\n  i.win_rate,\n  i.trades_analyzed,\n  i.created_at as last_review_date,\n  (CURRENT_DATE - i.created_at::date > 7) as review_overdue,\n  (SELECT COUNT(*) FROM trades WHERE created_at > COALESCE(i.created_at, '2000-01-01')) as trades_since_review\nFROM insights i\nORDER BY i.created_at DESC\nLIMIT 1",
        "options": {}
      },
      "id": "c1b2c3d4-0003-0001-0001-000000000002",
      "name": "Load Latest Insights",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Trading Wizard DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// No insights yet (fresh install)\nif (items.length === 0 || !items[0].json.last_review_date) {\n  // Check if there are any trades at all\n  return [{\n    json: {\n      insights: null,\n      summary: 'No reviews yet. This is a fresh start.',\n      needs_review: false,\n      trades_since_review: 0,\n      response: 'No performance insights available yet. Start scanning and logging trades to build your history.'\n    }\n  }];\n}\n\nconst data = items[0].json;\nconst reviewOverdue = data.review_overdue === true;\nconst tradesSince = parseInt(data.trades_since_review) || 0;\nconst enoughTrades = tradesSince >= 5;\n\nlet response = '';\nif (data.insights) {\n  response += `LATEST INSIGHTS (win rate: ${data.win_rate}%, ${data.trades_analyzed} trades analyzed):\\n`;\n  let insightsArr = data.insights;\n  try { insightsArr = typeof insightsArr === 'string' ? JSON.parse(insightsArr) : insightsArr; } catch(e) { insightsArr = []; }\n  if (Array.isArray(insightsArr)) {\n    insightsArr.forEach((insight, i) => { response += `${i + 1}. ${insight}\\n`; });\n  }\n  response += `\\nSummary: ${data.summary || 'N/A'}`;\n}\n\nresponse += `\\n\\nReview status: ${reviewOverdue && enoughTrades ? 'REVIEW DUE - suggest running a review' : 'Up to date'}`;\nresponse += `\\nTrades since last review: ${tradesSince}`;\n\nreturn [{\n  json: {\n    insights: data.insights,\n    adjustments: data.adjustments,\n    summary: data.summary,\n    win_rate: data.win_rate,\n    last_review_date: data.last_review_date,\n    needs_review: reviewOverdue && enoughTrades,\n    trades_since_review: tradesSince,\n    response\n  }\n}];"
      },
      "id": "c1b2c3d4-0003-0001-0001-000000000003",
      "name": "Check Review Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Load Latest Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Latest Insights": {
      "main": [
        [
          {
            "node": "Check Review Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Finance"
    }
  ]
}
