workflows/05-market-scanner.json
{
  "name": "Trading Wizard - Market Scanner",
  "nodes": [
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "budget",
              "type": "number"
            },
            {
              "name": "currency",
              "type": "string"
            },
            {
              "name": "fractional_shares",
              "type": "boolean"
            }
          ]
        }
      },
      "id": "e0000001-0001-0001-0001-000000000001",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://financialmodelingprep.com/stable/biggest-gainers?apikey=YOUR_FMP_KEY",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e0000001-0001-0001-0001-000000000002",
      "name": "FMP Gainers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        260
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://financialmodelingprep.com/stable/most-actives?apikey=YOUR_FMP_KEY",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e0000001-0001-0001-0001-000000000003",
      "name": "FMP Most Active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://financialmodelingprep.com/stable/biggest-losers?apikey=YOUR_FMP_KEY",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e0000001-0001-0001-0001-000000000004",
      "name": "FMP Losers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        540
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://financialmodelingprep.com/stable/screener?exchange=LSE,XETRA,Euronext&volumeMoreThan=500000&priceMoreThan=1&isActivelyTrading=true&limit=30&apikey=YOUR_FMP_KEY",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e0000001-0001-0001-0001-000000000025",
      "name": "FMP EU Screener",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        680
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json).flat().filter(x => x && typeof x === 'object' && !x.error && !x.errorMessage);\nconst seen = new Set();\nconst unique = all.filter(stock => {\n  if (!stock || !stock.symbol || seen.has(stock.symbol)) return false;\n  seen.add(stock.symbol);\n  // Normalize field names (screener uses companyName, top-movers use name)\n  if (!stock.name && stock.companyName) stock.name = stock.companyName;\n  return true;\n});\nif (unique.length === 0) {\n  return [{ json: { _fmp_empty: true, symbol: '_NEWS_ONLY_', price: 0 } }];\n}\nreturn unique.map(stock => ({ json: stock }));"
      },
      "id": "e0000001-0001-0001-0001-000000000005",
      "name": "Merge & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// FMP unavailable - pass through marker\nif (items.length === 1 && items[0].json._fmp_empty) {\n  return [{ json: { _fmp_empty: true } }];\n}\n\nconst rawBudget = $('Trigger').first().json.budget;\nconst budget = (rawBudget == null) ? 1000 : rawBudget;\nconst fractionalShares = $('Trigger').first().json.fractional_shares !== false;\n\nif (budget <= 0) {\n  return [{ json: { error: true, response: 'Budget must be greater than 0.' } }];\n}\n\n// Determine which markets are open RIGHT NOW\n// US: NYSE/NASDAQ — Mon-Fri 9:30-16:00 ET (UTC-4 summer, UTC-5 winter)\n// EU: LSE 8:00-16:30 GMT, XETRA 9:00-17:30 CET, Euronext 9:00-17:30 CET\nconst now = new Date();\nconst utcH = now.getUTCHours();\nconst utcM = now.getUTCMinutes();\nconst utcTime = utcH * 60 + utcM;\nconst dayOfWeek = now.getUTCDay(); // 0=Sun, 6=Sat\n\nconst isWeekday = dayOfWeek >= 1 && dayOfWeek <= 5;\n\n// Market hours in UTC — use UNION of summer/winter ranges so we never\n// exclude stocks that could be traded in either DST mode.\n// US: EDT 13:30-20:00, EST 14:30-21:00 → union 13:30-21:00 UTC\nconst usOpen = isWeekday && utcTime >= 810 && utcTime <= 1260; // 13:30-21:00 UTC\n\n// EU: CEST 7:00-15:30, CET 8:00-16:30 → union 7:00-17:30 UTC\nconst euOpen = isWeekday && utcTime >= 420 && utcTime <= 1050; // 7:00-17:30 UTC\n\n// EU exchanges — use explicit suffix set to avoid misclassifying\n// US multi-class stocks like BRK.B, BF.B\nconst euSuffixes = new Set(['L','DE','PA','AS','BR','MI','LS','HE','ST','CO','OL','VI','SW']);\nconst isEuSymbol = (sym) => {\n  const dot = sym.lastIndexOf('.');\n  return dot > 0 && euSuffixes.has(sym.substring(dot + 1));\n};\n\nconst filtered = items.filter(item => {\n  const s = item.json;\n  if (!s.symbol || !s.price) return false;\n  if (s.price < 1) return false;\n  if (!fractionalShares && s.price > budget * 0.3) return false;\n  if (s.exchange && s.exchange.includes('OTC')) return false;\n\n  // Gate by market hours — only pass stocks from open markets\n  const isEu = isEuSymbol(s.symbol);\n  if (isEu && !euOpen) return false;\n  if (!isEu && !usOpen) return false;\n\n  return true;\n});\n\nif (filtered.length === 0) {\n  // Build a helpful message about closed markets\n  const closedMsg = [];\n  if (!usOpen) closedMsg.push('US market is closed');\n  if (!euOpen) closedMsg.push('EU market is closed');\n  if (closedMsg.length === 2) {\n    return [{ json: { error: true, response: 'Both US and EU markets are currently closed. US: Mon-Fri ~15:30-22:00 (CET/CEST). EU: Mon-Fri ~9:00-17:30 (CET/CEST).' } }];\n  }\n  return [{ json: { _fmp_empty: true } }];\n}\n\n// Sort by absolute change%, keep top 20\n// Ensure sector diversity: max 4 per sector\nconst sorted = filtered.sort((a, b) =>\n  Math.abs(b.json.changesPercentage || 0) - Math.abs(a.json.changesPercentage || 0)\n);\n\nconst result = [];\nconst sectorCount = {};\nfor (const item of sorted) {\n  if (result.length >= 20) break;\n  const sector = item.json.sector || 'Unknown';\n  sectorCount[sector] = (sectorCount[sector] || 0) + 1;\n  if (sectorCount[sector] <= 4) {\n    result.push(item);\n  }\n}\n\n// If we didn't fill 20 slots due to sector cap, add remaining\nconst resultSymbols = new Set(result.map(i => i.json.symbol));\nif (result.length < 20) {\n  for (const item of sorted) {\n    if (result.length >= 20) break;\n    if (!resultSymbols.has(item.json.symbol)) {\n      result.push(item);\n      resultSymbols.add(item.json.symbol);\n    }\n  }\n}\n\nreturn result;"
      },
      "id": "e0000001-0001-0001-0001-000000000006",
      "name": "Filter Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const first = $input.first().json;\nif (first.error) {\n  return [{ json: first }];\n}\nif (first._fmp_empty) {\n  return [{ json: { _fmp_empty: true, symbols: '', symbolList: [], candidates: [] } }];\n}\nconst symbols = $input.all().map(i => i.json.symbol).filter(Boolean);\nreturn [{ json: { symbols: symbols.join(','), symbolList: symbols, candidates: $input.all().map(i => i.json) } }];"
      },
      "id": "e0000001-0001-0001-0001-000000000007",
      "name": "Build Symbol List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://financialmodelingprep.com/stable/quote?symbol={{ $json.symbols }}&apikey=YOUR_FMP_KEY",
        "options": {
          "timeout": 15000
        }
      },
      "id": "e0000001-0001-0001-0001-000000000008",
      "name": "FMP Batch Quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://financialmodelingprep.com/stable/earnings-calendar?from={{ $now.format('yyyy-MM-dd') }}&to={{ $now.plus(2, 'days').format('yyyy-MM-dd') }}&apikey=YOUR_FMP_KEY",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e0000001-0001-0001-0001-000000000009",
      "name": "FMP Earnings Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        500
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberOfInputs": 2,
        "options": {}
      },
      "id": "e0000001-0001-0001-0001-000000000023",
      "name": "Wait For Quotes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1580,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pass through markers\nconst firstCandidate = $('Filter Candidates').first().json;\nif (firstCandidate.error) {\n  return [{ json: firstCandidate }];\n}\nif (firstCandidate._fmp_empty) {\n  return [{ json: { _fmp_empty: true } }];\n}\n\n// Resilient merge - works even if Batch Quote and Earnings Check failed\nconst candidates = $('Filter Candidates').all().map(i => i.json);\n\nlet earningsTickers = new Set();\ntry {\n  const earningsRaw = $('FMP Earnings Check').all();\n  if (earningsRaw && earningsRaw.length > 0) {\n    const data = earningsRaw.map(e => e.json).flat();\n    (Array.isArray(data) ? data : []).forEach(e => {\n      if (e && e.symbol) earningsTickers.add(e.symbol);\n    });\n  }\n} catch (e) {}\n\n// Try to enrich with batch quote data\nlet quoteMap = {};\ntry {\n  const quotes = $('FMP Batch Quote').all().map(i => i.json).flat();\n  if (Array.isArray(quotes)) {\n    quotes.forEach(q => { if (q && q.symbol) quoteMap[q.symbol] = q; });\n  }\n} catch (e) {}\n\nreturn candidates.map(c => {\n  const enriched = quoteMap[c.symbol] || {};\n  return {\n    json: {\n      ...c,\n      ...enriched,\n      symbol: c.symbol,\n      earnings_within_48h: earningsTickers.has(c.symbol),\n    }\n  };\n});"
      },
      "id": "e0000001-0001-0001-0001-000000000010",
      "name": "Merge Quote Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const first = $input.first().json;\nif (first.error) {\n  return [{ json: first }];\n}\nif (first._fmp_empty) {\n  // No FMP data - use general market tickers for news search\n  const fallbackTickers = ['SPY','QQQ','AAPL','MSFT','TSLA'];\n  return [{ json: { _fmp_empty: true, tickers: fallbackTickers.join(','), tickerList: fallbackTickers, allCandidates: [] } }];\n}\nconst items = $input.all();\nconst top = items.slice(0, 20).map(i => i.json.symbol).filter(Boolean);\nreturn [{ json: { tickers: top.join(','), tickerList: top, allCandidates: items.map(i => i.json) } }];"
      },
      "id": "e0000001-0001-0001-0001-000000000011",
      "name": "Select Top for News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://financialmodelingprep.com/stable/news/stock?tickers={{ $json.tickers }}&limit=50&apikey=YOUR_FMP_KEY",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e0000001-0001-0001-0001-000000000012",
      "name": "FMP News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ $('Select Top for News').first().json.tickers.split(',').slice(0,5).join('+OR+') }}+stock&hl=en"
      },
      "id": "e0000001-0001-0001-0001-000000000013",
      "name": "Google News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        2180,
        500
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://finnhub.io/api/v1/company-news?symbol={{ $('Select Top for News').first().json.tickerList[0] }}&from={{ $now.minus(3, 'days').format('yyyy-MM-dd') }}&to={{ $now.format('yyyy-MM-dd') }}&token=YOUR_FINNHUB_KEY",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e0000001-0001-0001-0001-000000000020",
      "name": "Finnhub News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        700
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "e0000001-0001-0001-0001-000000000022",
      "name": "Wait FMP+Google",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2300,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "e0000001-0001-0001-0001-000000000024",
      "name": "Wait For All News",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2420,
        500
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pass through hard errors only\nconst firstItem = $('Merge Quote Data').first().json;\nif (firstItem.error) {\n  return [{ json: firstItem }];\n}\n\nconst fmpEmpty = firstItem._fmp_empty || false;\n\n// Resilient news merge - works even if some sources failed\nconst candidates = $('Merge Quote Data').all().map(i => i.json);\nconst newsByTicker = {};\n\ntry {\n  const fmpNews = $('FMP News').all().map(i => i.json).flat();\n  const fmpArray = Array.isArray(fmpNews) ? fmpNews : [fmpNews];\n  for (const n of fmpArray) {\n    if (!n || !n.symbol) continue;\n    if (!newsByTicker[n.symbol]) newsByTicker[n.symbol] = [];\n    newsByTicker[n.symbol].push({ title: n.title || '', summary: n.text || '', source: n.site || 'FMP' });\n  }\n} catch (e) {}\n\ntry {\n  const googleNews = $('Google News RSS').all().map(i => i.json);\n  for (const n of googleNews) {\n    if (!n || !n.title) continue;\n    if (!newsByTicker['GENERAL']) newsByTicker['GENERAL'] = [];\n    newsByTicker['GENERAL'].push({ title: n.title || '', summary: n.contentSnippet || '', source: 'Google News' });\n  }\n} catch (e) {}\n\ntry {\n  const finnhubNews = $('Finnhub News').all().map(i => i.json).flat();\n  const finnhubArray = Array.isArray(finnhubNews) ? finnhubNews : [finnhubNews];\n  for (const n of finnhubArray) {\n    if (!n || !n.headline) continue;\n    const ticker = n.related || 'GENERAL';\n    if (!newsByTicker[ticker]) newsByTicker[ticker] = [];\n    newsByTicker[ticker].push({ title: n.headline || '', summary: n.summary || '', source: n.source || 'Finnhub' });\n  }\n} catch (e) {}\n\nfor (const ticker of Object.keys(newsByTicker)) {\n  newsByTicker[ticker] = newsByTicker[ticker].slice(0, 5);\n}\n\nreturn [{ json: { newsByTicker, candidates: fmpEmpty ? [] : candidates, _fmp_empty: fmpEmpty } }];"
      },
      "id": "e0000001-0001-0001-0001-000000000014",
      "name": "Merge News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT insights, adjustments, summary FROM insights ORDER BY created_at DESC LIMIT 1",
        "options": {}
      },
      "id": "e0000001-0001-0001-0001-000000000015",
      "name": "Load Insights",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2660,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Trading Wizard DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mergeResult = $('Merge News').first().json;\nif (mergeResult.error) {\n  return [{ json: mergeResult }];\n}\n\nconst trigger = $('Trigger').first().json;\nconst budget = trigger.budget || 1000;\nconst currency = trigger.currency || 'USD';\nconst fractionalShares = trigger.fractional_shares !== false;\nconst newsData = mergeResult.newsByTicker || {};\nconst candidates = mergeResult.candidates || [];\nconst fmpEmpty = mergeResult._fmp_empty || false;\n\nconst insightsNode = $('Load Insights').all();\nconst insights = insightsNode.length > 0 && insightsNode[0].json.insights\n  ? JSON.stringify(insightsNode[0].json.insights)\n  : 'No data from previous sessions yet.';\n\nconst today = new Date().toISOString().split('T')[0];\n\nconst tickerData = candidates.map(c => ({\n  symbol: c.symbol,\n  name: c.name || c.companyName || c.symbol,\n  price: c.price,\n  change_pct: c.changesPercentage || 0,\n  dayHigh: c.dayHigh,\n  dayLow: c.dayLow,\n  volume: c.volume,\n  avgVolume: c.avgVolume,\n  marketCap: c.marketCap,\n  pe: c.pe,\n  earnings_within_48h: c.earnings_within_48h || false,\n  news: (newsData[c.symbol] || []).concat((newsData['GENERAL'] || []).slice(0, 2)),\n}));\n\nconst systemPrompt = `You are a stock analyst. Intraday trades only (open and close same day).\nDate: ${today}. Budget: ${budget} ${currency}. Fractional shares: ${fractionalShares ? 'YES' : 'NO'}.\n\nTASK: Find the BEST intraday opportunities from the stocks below. Be aggressive — if the data shows momentum, volume, or a setup, mark it BUY. These stocks were pre-screened as today's movers. Your job is to pick the best ones, not to reject them all.\n\nFor each stock: BUY or SKIP.\n\nBUY RULES:\n- Risk/Reward >= 1.5, Confidence >= 60%\n- Any positive signal counts: volume spike, price momentum, news, technical level, sector strength\n- Take-profit: nearest resistance. Stop-loss: below nearest support\n- Earnings within 48h: reduce confidence by 20, add earnings_proximity warning\n- Max 20% of budget per position. Spread budget across multiple positions\n- Aim for 5-10 BUY signals. If fewer than 3 qualify, lower your bar slightly (but keep R/R >= 1.5)${fractionalShares ? '\\n- Fractional shares allowed (e.g. 0.5 shares)' : ''}\n\nMANDATORY FIELDS FOR EVERY BUY:\nestimated_cost, upside_pct, downside_pct, risk_reward, potential_profit, potential_loss, stop_loss, risk_level (low/moderate/high), risk_warnings (array), reasoning (user\\'s language, <100 words), educational_note (user\\'s language, <60 words), catalysts (array)\n\nLESSONS FROM PAST SESSIONS:\n${insights}\n\nRESPOND WITH VALID JSON ONLY:\n{\"signals\":[{\"ticker\":\"X\",\"company_name\":\"X\",\"market\":\"US\",\"type\":\"BUY\",\"confidence\":75,\"entry_low\":10.0,\"entry_high\":10.2,\"take_profit\":10.8,\"stop_loss\":9.5,\"suggested_shares\":5,\"estimated_cost\":51.0,\"upside_pct\":5.9,\"downside_pct\":-4.9,\"risk_reward\":1.8,\"potential_profit\":3.0,\"potential_loss\":-2.5,\"risk_level\":\"moderate\",\"risk_warnings\":[],\"reasoning\":\"...\",\"catalysts\":[\"...\"],\"educational_note\":\"...\",\"is_top_pick\":true}],\"market_summary\":\"Brief.\"}`\n\nlet userPrompt;\nif (fmpEmpty) {\n  const allNews = Object.entries(newsData).map(([ticker, articles]) => ({ ticker, articles }));\n  userPrompt = `FMP MARKET DATA UNAVAILABLE (API limit reached). Use the news below to identify trading opportunities. Research current prices from your knowledge.\\n\\nNEWS DATA:\\n${JSON.stringify(allNews, null, 2)}`;\n} else {\n  userPrompt = `CANDIDATE DATA:\\n${JSON.stringify(tickerData, null, 2)}`;\n}\n\nreturn [{ json: { systemPrompt, userPrompt, budget, currency, fractionalShares } }];"
      },
      "id": "e0000001-0001-0001-0001-000000000016",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_OPENROUTER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://localhost:5678"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 8192,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.systemPrompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.userPrompt) }} }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "e0000001-0001-0001-0001-000000000017",
      "name": "AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Early exit on hard errors only\nconst promptResult = $('Build AI Prompt').first().json;\nif (promptResult.error) {\n  return [{ json: promptResult }];\n}\n\nconst response = $input.first().json;\nconst budget = promptResult.budget;\nconst fractionalShares = promptResult.fractionalShares;\n\nlet content = response.choices?.[0]?.message?.content || '';\ncontent = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  return [{ json: { error: true, response: 'AI returned invalid JSON. Please try scanning again.' } }];\n}\n\nif (!parsed.signals || !Array.isArray(parsed.signals)) {\n  return [{ json: { error: true, response: 'AI response missing signals array.' } }];\n}\n\nconst validSignals = parsed.signals.map(signal => {\n  if (!signal.ticker || !signal.type) return null;\n\n  // Default new fields\n  signal.trade_type = 'intraday';\n  signal.suggested_holding = 'same_day';\n\n  if (signal.type === 'BUY') {\n    if ((signal.confidence || 0) < 60) {\n      signal.type = 'SKIP';\n      signal.reasoning = '[Auto-downgraded: confidence ' + signal.confidence + '% < 60%] ' + (signal.reasoning || '');\n    }\n    if ((signal.risk_reward || 0) < 1.5 && signal.type === 'BUY') {\n      signal.type = 'SKIP';\n      signal.reasoning = '[Auto-downgraded: R/R ' + signal.risk_reward + ' < 1.5] ' + (signal.reasoning || '');\n    }\n  }\n\n  if (signal.type === 'BUY') {\n    const entryMid = ((signal.entry_low || 0) + (signal.entry_high || 0)) / 2;\n    if (!signal.suggested_shares && entryMid > 0) {\n      const maxPosition = budget * 0.2;\n      if (fractionalShares) {\n        signal.suggested_shares = Math.round((maxPosition / entryMid) * 10000) / 10000;\n      } else {\n        signal.suggested_shares = Math.floor(maxPosition / entryMid);\n      }\n      signal.estimated_cost = Math.round(signal.suggested_shares * entryMid * 100) / 100;\n    }\n    if (!signal.upside_pct && signal.take_profit && entryMid > 0) {\n      signal.upside_pct = Math.round(((signal.take_profit - entryMid) / entryMid) * 10000) / 100;\n    }\n    if (!signal.downside_pct && signal.stop_loss && entryMid > 0) {\n      signal.downside_pct = Math.round(((signal.stop_loss - entryMid) / entryMid) * 10000) / 100;\n    }\n    if (!signal.risk_reward && signal.upside_pct && signal.downside_pct) {\n      signal.risk_reward = Math.round(Math.abs(signal.upside_pct / signal.downside_pct) * 100) / 100;\n    }\n    if (!signal.potential_profit && signal.take_profit && entryMid > 0) {\n      signal.potential_profit = Math.round((signal.take_profit - entryMid) * (signal.suggested_shares || 1) * 100) / 100;\n    }\n    if (!signal.potential_loss && signal.stop_loss && entryMid > 0) {\n      signal.potential_loss = Math.round((signal.stop_loss - entryMid) * (signal.suggested_shares || 1) * 100) / 100;\n    }\n    if (!signal.risk_level) {\n      if (signal.risk_reward > 2.5 && signal.confidence > 80) signal.risk_level = 'low';\n      else if (signal.risk_reward > 1.5 && signal.confidence > 65) signal.risk_level = 'moderate';\n      else signal.risk_level = 'high';\n    }\n    if (!signal.risk_warnings) signal.risk_warnings = [];\n  }\n\n  return { ...signal, session_date: new Date().toISOString().split('T')[0], session_budget: budget };\n}).filter(Boolean);\n\nconst buySignals = validSignals.filter(s => s.type === 'BUY').slice(0, 10);\nconst skipSignals = validSignals.filter(s => s.type === 'SKIP');\n\nreturn [{\n  json: {\n    signals: [...buySignals, ...skipSignals],\n    market_summary: parsed.market_summary || '',\n    buy_count: buySignals.length,\n    skip_count: skipSignals.length,\n    token_usage: response.usage || {},\n  }\n}];"
      },
      "id": "e0000001-0001-0001-0001-000000000018",
      "name": "Validate & Enrich",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3380,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.error || data._empty) {\n  return [{ json: { response: data.response || 'Scanner encountered an issue. Please try again.' } }];\n}\n\nlet response = `MARKET SUMMARY: ${data.market_summary}\\n\\n`;\nresponse += `Found ${data.buy_count} BUY signals and ${data.skip_count} SKIP.\\n\\n`;\n\nconst buySignals = data.signals.filter(s => s.type === 'BUY');\nconst skipSignals = data.signals.filter(s => s.type === 'SKIP');\n\nif (buySignals.length > 0) {\n  response += '=== BUY SIGNALS ===\\n\\n';\n  for (const s of buySignals) {\n    response += `TICKER: ${s.ticker} (${s.company_name || s.ticker})${s.is_top_pick ? ' [TOP PICK]' : ''} | INTRADAY\\n`;\n    response += `Confidence: ${s.confidence}% | Risk level: ${s.risk_level || 'N/A'}\\n`;\n    response += `Entry: $${s.entry_low} - $${s.entry_high}\\n`;\n    response += `Take-profit: $${s.take_profit} | Stop-loss: $${s.stop_loss}\\n`;\n    response += `Shares: ${s.suggested_shares} | Cost: $${s.estimated_cost}\\n`;\n    response += `Potential profit: +$${s.potential_profit} (+${s.upside_pct}%)\\n`;\n    response += `Potential loss: $${s.potential_loss} (${s.downside_pct}%)\\n`;\n    response += `Risk/Reward: ${s.risk_reward}\\n`;\n    if (s.risk_warnings && s.risk_warnings.length > 0) {\n      response += `Warnings: ${s.risk_warnings.join(', ')}\\n`;\n    }\n    response += `Catalysts: ${(s.catalysts || []).join(', ')}\\n`;\n    response += `Reasoning: ${s.reasoning}\\n`;\n    response += `Lesson: ${s.educational_note}\\n\\n`;\n  }\n}\n\nif (skipSignals.length > 0) {\n  response += '=== SKIP ===\\n\\n';\n  for (const s of skipSignals.slice(0, 5)) {\n    response += `${s.ticker}: ${s.reasoning}\\n`;\n  }\n  if (skipSignals.length > 5) {\n    response += `...and ${skipSignals.length - 5} more skipped.\\n`;\n  }\n}\n\nreturn [{ json: { response } }];"
      },
      "id": "e0000001-0001-0001-0001-000000000019",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3620,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Final output node - guarantees this is lastNodeExecuted\n// Reads from Format Response regardless of which parallel branch finished last\nreturn $('Format Response').all();"
      },
      "id": "e0000001-0001-0001-0001-000000000021",
      "name": "Return Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3860,
        400
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "FMP Gainers",
            "type": "main",
            "index": 0
          },
          {
            "node": "FMP Most Active",
            "type": "main",
            "index": 0
          },
          {
            "node": "FMP Losers",
            "type": "main",
            "index": 0
          },
          {
            "node": "FMP EU Screener",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Gainers": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Most Active": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Losers": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP EU Screener": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Deduplicate": {
      "main": [
        [
          {
            "node": "Filter Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Candidates": {
      "main": [
        [
          {
            "node": "Build Symbol List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Symbol List": {
      "main": [
        [
          {
            "node": "FMP Batch Quote",
            "type": "main",
            "index": 0
          },
          {
            "node": "FMP Earnings Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Batch Quote": {
      "main": [
        [
          {
            "node": "Wait For Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Earnings Check": {
      "main": [
        [
          {
            "node": "Wait For Quotes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait For Quotes": {
      "main": [
        [
          {
            "node": "Merge Quote Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Quote Data": {
      "main": [
        [
          {
            "node": "Select Top for News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Top for News": {
      "main": [
        [
          {
            "node": "FMP News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google News RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finnhub News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP News": {
      "main": [
        [
          {
            "node": "Wait FMP+Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google News RSS": {
      "main": [
        [
          {
            "node": "Wait FMP+Google",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait FMP+Google": {
      "main": [
        [
          {
            "node": "Wait For All News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finnhub News": {
      "main": [
        [
          {
            "node": "Wait For All News",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait For All News": {
      "main": [
        [
          {
            "node": "Merge News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge News": {
      "main": [
        [
          {
            "node": "Load Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Insights": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Validate & Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Enrich": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Finance"
    }
  ]
}